name: gtrepo
on:  push
    
jobs:
  cli:
    name: makeBagit
    runs-on: ubuntu-latest
    steps:
    - name: push the realease
      if: contains(github.event.head_commit.message, 'realease')
      run: |
    - name: Git checkout
      uses: actions/checkout@v2
      
    # Instalations Styles
    
    - name: install anaylse xsl-styles
      run: |
         git clone https://github.com/tboenig/gt-repo-scripts.git 
         mv gt-repo-scripts/scripts scripts/ 
         rm -r gt-repo-scripts 
      
     
    # Instalations, Folder and Bagit
      
    - name: install ocrd
      run: |
        git clone --depth 1 https://github.com/OCR-D/core
        cd core
        make install
        cd ..
        rm -rf core
          
    - name: Download and install saxon
      run: wget https://sourceforge.net/projects/saxon/files/Saxon-HE/10/Java/SaxonHE10-5J.zip/download && unzip download
                      
    - name: testocrd
      run: ocrd --version
    
    - name: made ocrdzip_out
      run: sudo mkdir ocrdzip_out
      
    - name: made gh-pages_out
      run: sudo mkdir ghout
        
    - name: made bagit
      run: sh scripts/data_structure.sh
      
   # Transformation
   
    - name: Get SDK Version from config
      id: lookupSdkVersion
      uses: mikefarah/yq@master
      with:
       cmd: yq -o=json METADATA.yml > METADATA.json
       
    - name: show folder and content
      run: ls -l && sudo less METADATA.json
           
    - name: transform METADATA and make GT-Overview
      run: sudo java -jar saxon-he-10.5.jar -xsl:scripts/gt-overview_metadata.xsl output=METADATA repoBase=$GITHUB_REF_NAME repoName=$GITHUB_REPOSITORY -s:scripts/gt-overview_metadata.xsl -o:ghout/metadata.md
      shell: bash

    - name: make Compressed table view
      run: sudo java -jar saxon-he-10.5.jar -xsl:scripts/gt-overview_metadata.xsl output=TABLE repoBase=$GITHUB_REF_NAME repoName=$GITHUB_REPOSITORY -s:scripts/gt-overview_metadata.xsl -o:ghout/table.md
      shell: bash

    - name: Detailed table view
      run: sudo java -jar saxon-he-10.5.jar -xsl:scripts/gt-overview_metadata.xsl output=OVERVIEW repoBase=$GITHUB_REF_Name repoName=$GITHUB_REPOSITORY -s:scripts/gt-overview_metadata.xsl -o:ghout/overview.md
      shell: bash
                                                                                     
    - name: copy css styles and yml files to ghout
      run: sudo cp scripts/table_hide.css ghout/;sudo cp scripts/_config.yml ghout/ 


    - name: Archive the ocrdzip files from ocrdzip_out folder
      uses: thedoctor0/zip-release@master
      with:
         filename: site.zip
         path: 'ocrdzip_out'
      
    
    - name: Create GitHub release
      id: create-new-release
      uses: actions/create-release@latest
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: v${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
          body_path: release_note.md 
          draft: false
          prerelease: false
     
    
    - name: Upload asset to GitHub release
      uses: actions/upload-release-asset@latest
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
          upload_url: ${{ steps.create-new-release.outputs.upload_url }}
          asset_path: ./site.zip
          asset_name: bagitDump-v${{ github.run_number }}.zip
          asset_content_type: application/zip
          
   
   
   
   
    - name: Deploy GT-Overview to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: ghout # The folder the action should deploy.
   
   
   
   
   
   
   
   
          
          
  
